.card__container{
    width: 90%;
    display: flex;
    justify-content: center;
    height: 250px;
    background-color: var(--ion-color-primary);
}
.card__photo-rounded{
    border: 2px solid;
    border-radius: 100%;
    color: var(--ion-color-light);
    height: 13vh;
    width: 13vh;
    background-size: cover;
    background-position: center center;
}
.card__data{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card__img{
    width: 100%;
    display: flex;
    justify-content: end;
}

.home__title{
    justify-content: center;
    display: flex;
    margin: 0;
    text-align: center;
}
.home__card{
    display: flex;
}
.home__card_img{
    flex: 1;
}
.home__card_text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.home__button-container{
    width: 100vw;
    padding: 10px;
    display: flex;
}
.home__button{
    width: 50%;
    height: 20vh;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    margin: 10px;
    flex-direction: column;
    /* box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px; */
    // box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-dark);
}
.home__carrousel-item{
    width: 100%; 
    height: 100%;
    padding: 10px;
    background-size: contain;
    border-radius: 15px;
    min-height: 45vh;
    border: solid 2px var(--ion-color-light);
}
li.slide{
    padding: 10px;
}