.splash__klover{
    flex: 1 1;
    background-color: var(--ion-color-primary);
    border-radius: 100% 100% 0 0;
    margin-bottom: -5vh;
    width: 130%;
    justify-content: center;
    display: flex;
    margin-left: -15%;
    .logo_container{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        min-height: 20vh;
        span{
            color: var(--ion-color-light);
            font-size: 10px;
        }
        ion-img{
            max-width: 25%;
        }

        .version-code{
            font-size: 15px;
            margin-top: 10px;
        }
    }
}
.splash__logo{
    flex: 5;
    align-items: center;
    display: flex;
}