.user__versionContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .versionCode{
        text-align: center;
        font-size: 0.8rem;
    }

    .developed{
        text-align: center;
        font-size: 0.7rem;
    }

    ion-img{
        padding: 0 30vw 0 30vw;
    }
}
.user__img{
    border: 2px solid;
    border-radius: 100%;
    color: var(--ion-color-secondary);
    height: 25vh;
    width: 25vh;
    background-size: cover;
    background-position: center center;
}
.user__lastname{

    justify-content: center;
    display: flex;
    margin: 0;

}
.user__card-container{
    display: flex;
    justify-content: center;
}
.socio__card{
    height: 100%;
    width: 80vw;
    border-radius: 15px;
    padding: 10px;
    
    -webkit-box-shadow: 10px 10px 38px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 38px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 38px -7px rgba(0,0,0,0.75);
    .user__card-contain{
        border-bottom: 1px solid var(--ion-color-light);
    }

    .user__card-img{
        max-width: 25vw;
        height: 20vw;
    }

    .user__name{
        font-weight: 800 !important;
    }

    .user__img-container{
        display: flex;
    justify-content: space-between;
    margin-top: 15px;
    }
}
.user__login-icon{
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}
.user__login-text{
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}
.user__card{
    min-height: 15vh;
    max-width: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ion-label{
        font-size: 2.5vh;
    }
}

.user__button_large{
    width: 100%;
    min-height: 10vh;
}
.user__button_text{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    ion-icon{
        font-size: 5vh;
        margin-bottom: 10px;
    }
}

.user__success-icon{
    display: flex;
    justify-content: center;
    padding: 5vh;
}