@import './sass/splashscreen';
@import './sass/home';
@import './sass/login';
@import './sass/signin';
@import './sass/tabuser';
@import './sass/map';
@import './sass/slides';
@import './sass/admin';

.ion-page {
  // background-color: var(--ion-color-primary) !important;
}

.mapDiv {
  height: 300px;
}

.ion-color-mp {
  --ion-color-base: var(--ion-color-mp);
  --ion-color-base-rgb: var(--ion-color-mp-rgb);
  --ion-color-contrast: var(--ion-color-mp-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mp-contrast-rgb);
  --ion-color-shade: var(--ion-color-mp-shade);
  --ion-color-tint: var(--ion-color-mp-tint);
}

.header-buttons-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}